@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lightFont;
  src: url(./assets/font/ibm/IBMPlexSans-Light.ttf) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: RegularFont;
  src: url(./assets/font/ibm/IBMPlexSans-Regular.ttf) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: MediumFont;
  src: url(./assets/font/ibm/IBMPlexSans-Medium.ttf) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: MediumItalic;
  src: url(./assets/font/ibm/IBMPlexSans-MediumItalic.ttf) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: bold1;
  src: url(./assets/font/ibm/IBMPlexSans-Bold.ttf) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: semibold1;
  src: url(./assets/font/ibm/IBMPlexSans-SemiBold.ttf) format("woff2");
  font-display: swap;
}
/* @font-face {
  font-family: bold2;
  src: url(./assets/fonts/mollen-personal-use-family/mollen-personal-use.bold-narrow.otf)
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: bold3;
  src: url(./assets/fonts/mollen-personal-use-family/mollen-personal-use.bold.otf)
    format("woff2");
  font-display: swap;
} */

html {
  scroll-behavior: smooth;
}


* {
  scroll-behavior: smooth;
}

body {
  font-family: RegularFont;
  scroll-behavior: smooth;
  /* max-width: 1600px;
  margin: auto; */
}

.body-active-modal {
  overflow-y: hidden;
}

/* swipper styles */

.swiper-wrapper {
  position: relative;
  width: 40% !important;
  height: 100%;
  z-index: 1;
  display: flex;
}

.mySwiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .mySwiper {
    width: 100%;
  }
  .swiper-slide {
    width: 500px;
  }

  /* .swiper-wrapper {
    width: 50% !important;
  } */
}
@media screen and (max-width: 1000px) {
  .swiper-wrapper {
    width: 50% !important;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  background-color: white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.slide-content {
  text-align: center;
  position: relative;
}

.slide-text {
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}

.swiper-slide-active .slide-text {
  opacity: 1;
  color: #e75425;
  font-family: semibold1;
  font-size: 1.2rem;
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.marquee div {
  display: inline-block;
  padding-right: 100%; /* adjust this to create space between the content */
}

.marquee img {
  display: inline-block;
  padding-right: 100px; /* Space between images */
  height: 100px; /* Adjust height as needed */
  object-fit: contain;
}

.containers {
  @apply s1000:px-[7rem] s900:px-[5rem] md:px-[3rem] sm:px-[2rem] px-[1rem];
}

/* .arco-timeline-item-dot{
  background-image: url('./assets/coreServices.svg');
  padding: 2rem;
} */

/* .arco-timeline-item-dot-content{
  background-image: url('./assets/coreServices.svg');
  padding: 2rem;
} */

.vertical-timeline-element--work {
  box-shadow: none;
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: transparent;
  border-radius: 0.25em;
  padding: 1em;
  /* -webkit-box-shadow: 0 3px 0 #ddd;
  box-shadow: 0 3px 0 transparent; */
}

.vertical-timeline-element-content-arrow {
  content: "";
  position: absolute;
  top: 20px;
  right: 100%;
  height: 0;
  width: 0;
  border: 3px solid #e75425;
  border-right: 40px solid #e75425;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e75425;
  color: white;
}

/* .vertical-timeline-element-content
  .vertical-timeline-element-date:nth-child(odd) {
  color: red;
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 5px;

  float: left;
  padding: 8em 0;
  opacity: 0.7;
} */

.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  position: absolute;
  width: 100%;
  left: 120%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
}

.vertical-timeline::before {
  background-color: #e75425;
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .containerMain {
    max-width: 1450px;
    margin: auto;
  }
}
